/*@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');*/

* {
    box-sizing: border-box;
}

/*body {*/
/*    background-color: #f4f4f4;*/
/*    flex-direction: column;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*}*/

.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 20px;
    width: 500px;
}
/*38e1b0*/
.positiveProgress {
    background: linear-gradient(to left, #1ac679, #17ac1b);
    box-shadow: 0 3px 3px -5px #1dc67a, 0 2px 5px #1ac66d;
    border-radius: 20px;
    color: #fff;
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}
.negativeProgress{
    background: linear-gradient(to left, #d91f44, #e53922);
    box-shadow: 0 3px 3px -5px #e57022, 0 2px 5px #d91f44;
    border-radius: 20px;
    color: #fff;
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}
@media screen and (max-width: 499px) {
    .progress {
        margin: 15px 0;
        height: 20px;
        width: 300px;
    }
}
