.Cards {
    font-family: 'Poppins', sans-serif;
    height:33em;
    width: 40em;

    background-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 30px 10px;

    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    /*position:relative;*/
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.ChartTitle {
    font-size: 30px;
    color: #4c4c4c;
    font-weight: bold;
    /*display: block;*/
    text-align: left;
    position: center;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 0;
}

.FeatureLabel {
    font-weight: bold;
    color: #2b2b2b;
    text-align: left;
    /*margin-top: 20px;*/
    padding-left: 50px;
    padding-top: -20px;
}

.ProgressBar {
    padding-left: 50px;
    padding-bottom: 30px;
}

/*.PositiveBar {*/
/*    background: linear-gradient(to left, #1fd985, #6fdc52);*/
/*    box-shadow: 0 3px 3px -5px #1dc67a, 0 2px 5px #71e34e;*/
/*    border-radius: 20px;*/
/*    color: #fff;*/
/*    display: flex;*/

/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100%;*/
/*    width: 0;*/
/*    opacity: 0;*/
/*    transition: 1s ease 0.3s;*/
/*}*/

/*.NegativeBar{*/
/*    background: linear-gradient(to left, #ee5d72, #6fdc52);*/
/*    box-shadow: 0 3px 3px -5px #1dc67a, 0 2px 5px #71e34e;*/
/*    !*border-radius: 20px;*!*/
/*    !*color: #fff;*!*/
/*    !*display: flex;*!*/

/*    !*align-items: center;*!*/
/*    !*justify-content: center;*!*/
/*    !*height: 100%;*!*/
/*    !*width: 0;*!*/
/*    !*opacity: 0;*!*/
/*    !*transition: 1s ease 0.3s;*!*/
/*}*/

@media screen and (max-width: 499px) {
    .ProgressBar {
        padding-left: 15px;
        padding-bottom: 40px;
        margin-left: 8px;
        /*margin: 0 auto;*/
    }
    .Cards {
        height:34em;
        width: 23em;
    }
}
