.Content {
    margin-top: 56px;
}

.Button {
    /*color: #494949 !important;*/
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
    background: #11de57;
    padding: 10px 10px ;
    /*border: 2px solid #494949 !important;*/
    border-radius: 100%;
    border: none;
    margin-left: 10px;
    display: inline-block;
    color: #ffffff;
    /*transition: all 0.4s ease 0s;*/
}
.Button:hover {
    color: #ffffff !important;
    background: #11de57;
    border-color: #16843d !important;
    transition: all 0.4s ease 0s;
}
.Button:focus {
    outline: 0px;
}


.SearchIcon{
     /*padding-left: 4px;*/
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    /*background-color: #13c453;*/
}
.TextInput {
    width: 450px;
    border: 1px solid #555555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    color: #363636;
    align-items: center;
    font-size: 17px;
    /*font-weight: bold;*/
    /*letter-spacing: 1px;*/
}
.TextInput:hover {
    border-color: #333;
    border-width: 2px;
    /*border-width: inherit;*/
    /*box-shadow: 0 8px 6px -6px #b0ecfd;*/
}

.InputValidation {
    color: #2d2d2d;
    padding-top: 10px;
    opacity: 0.7;
    font-size: small;
}

.Heading {
    font-size: 100px;
    font-weight: lighter;
    padding-top: 11px;
    color: #333;
}

.SubHeading {
    font-size: 20px;
    padding-bottom: 30px;
    letter-spacing: 10px;
}

@media (max-width: 499px) {
    .Heading {
        font-size: 50px;
        padding-top: 30px;
    }
    .SubHeading {
        font-size: 15px;
    }
    .TextInput {
        width: 55%;
    }
    .InputValidation{
        font-size: small;
    }

}
