.Content {
    margin-top: 100px;
}

.Button {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.Button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

.TextInput {
    width: 45%;
    border: 1px solid #555555;
    padding: 10px 10px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    color: #01181a;
    align-items: center;
    font-size: 15px;
}
.TextInput:hover {
    border-color: #333;
    border-width: 2px;
    /*border-width: inherit;*/
    /*box-shadow: 0 8px 6px -6px #b0ecfd;*/
}

.InputValidation {
    color: #2d2d2d;
    padding-top: 10px;
    opacity: 0.7;
    font-size: small;
}

.Heading {
    font-size: 100px;
    font-weight: lighter;
    color: #333;
}

.SubHeading {
    font-size: 20px;
    padding-bottom: 30px;
    letter-spacing: 10px;
}

@media (max-width: 499px) {
    .Heading {
        font-size: 50px;
    }
    .SubHeading {
        font-size: 15px;
    }
    .TextInput {
        width: 60%;
    }
    .InputValidation{
        font-size: small;
    }

}
