.FeatureName {
    font-size: 30px;
    color: #4c4c4c;
    font-weight: bold;
    text-align: left;
    position: center;
    padding-left: 25px;
    padding-top: 20px;
}

.Comments {
    text-align: left;
    padding-left: 50px;
    padding-top: 10px;
}

.CommentsType {
    font-weight: bold;
    color: #2b2b2b;
    text-align: left;
    /*margin-top: 20px;*/
    padding-left: 50px;
    padding-top: 10px;
}
